<form [formGroup]="form" (ngSubmit)="onSubmit(form,$event)">
  <h2 mat-dialog-title>{{title}}</h2>
  <div mat-dialog-content>
    <mat-form-field class="full-width">
      <input matInput type="text" placeholder="project name" formControlName="name">
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput type="text" placeholder="project desc" formControlName="desc">
    </mat-form-field>
    <app-image-list-select
      [useSvgIcon]="false"
      [cols]="6"
      [title]="'选择封面:'"
      [items]="coverImgs"
      formControlName="coverImg"
    ></app-image-list-select>
  </div>
  <div mat-dialog-actions>
    <button type="submit" mat-raised-button color="primary" [disabled]="!form.valid">save</button>
    <button type="button" mat-button mat-dialog-close>cancel</button>
  </div>
</form>

