<div class="task-lists">
  <app-task-list class="list-container" *ngFor="let list of lists$|async"
  app-droppable
  [ngStyle]="{'order': list.order}"
        [dropTags]="['task-item', 'task-list']"
        [dragEnterClass]="'drag-enter'"
        [app-draggable]="true"
        [dragTag]="'task-list'"
        [draggedClass]="'drag-start'"
        [dragData]="list"
        (dropped)="handleMove($event, list)">
    <app-task-header [header]="list.name" 
    (newTask)="launchNewTaskDialog(list)"
    (moveAll)="launchCopyAllTaskDialog(list)"
    (delList)="launchDeleteList(list)"
    (editList)="launchEditList(list)"
    ></app-task-header>
    <app-task-item *ngFor="let task of list.tasks"
    [item]="task"
    (taskClick)="launchUpdateTaskDialog(task)"
    [avatar]=""></app-task-item>
  </app-task-list>
</div>
<button class="fab-button" mat-fab type="button" (click)="openNewListDialog($event)">
  <mat-icon>add</mat-icon>
</button>