<form>
  <h2 mat-dialog-title>新建任务</h2>
  <div mat-dialog-content>
    <mat-form-field class="full-width">
      <input matInput type="text" placeholder="task name">
    </mat-form-field>
    <mat-radio-group>
      <mat-radio-button *ngFor="let priority of priorities" [value]="priority.value">
        {{priority.label}}
      </mat-radio-button>
    </mat-radio-group>
    <mat-form-field class="full-width">
        <input matInput [matDatepicker]="picker" placeholder="Choose a date">
        
      <input [matDatepicker]="dueDatepicker" matInput type="text" placeholder="end date">
      <mat-datepicker-toggle matSuffix [for]="dueDatepicker"></mat-datepicker-toggle>
      <mat-datepicker #dueDatepicker ></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input [matDatepicker]="reminderDatepicker" matInput type="text" placeholder="reminder date">
      <mat-datepicker-toggle matSuffix [for]="reminderDatepicker"></mat-datepicker-toggle>
      <mat-datepicker #reminderDatepicker ></mat-datepicker>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button type="button" mat-raised-button color="primary" (click)="onClick()">save</button>
    <button type="button" mat-button mat-dialog-close>cancel</button>
  </div>
</form>

